<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="search()">

      <div class="ui-g-12">
        <h1>Activities</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="description" [(ngModel)]="description">
      </div>

      <div class="ui-g-12">
        <label style="display: block">Due date</label>

        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }"
                    name="dueStartDate" [(ngModel)]="dueStartDate"></p-calendar>
        <!--
        <input pInputText type="text" style="width: 95px" name="dueDate" [(ngModel)]="dueDate">-->

        <label>to</label>
        <!--
        <input pInputText type="text" style="width: 95px">-->

        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '95px' }"
                    name="dueEndDate" [(ngModel)]="dueEndDate"></p-calendar>

      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Search"></button>
      </div>

    </form>

  </div>


  <div class="ui-g">
    <div class="ui-g-12">

      <p-dataTable [value]="activities"
                   [paginator]="true" [rows]="10"
                   [responsive]="true">
        <p-column field="code"  header="Code" styleClass="col-code"></p-column>
        <p-column field="description"  header="Description"></p-column>
        <p-column field="observation"  header="Observation"></p-column>

        <p-column field="payday"  header="Payday" styleClass="col-date">
          <ng-template let-lanc="rowData" pTemplate="body">
            {{lanc.payday | date:'dd/MM/y' }}
          </ng-template>
        </p-column>

        <!--<p-column field="value" header="Value" styleClass="cal-value"></p-column>-->
        <p-column field="personName" header="Person"></p-column>


        <p-column field="value" header="Value" styleClass="cal-value">
          <ng-template let-lanc="rowData" pTemplate="body">
            <span styleClass="cal-value" [style.color]="lanc.type === 'EXPENSE' ? 'red' : 'blue'">{{lanc.value | currency:'EUR':true:'4.2-2'}}</span>
          </ng-template>
        </p-column>

        <p-column styleClass="col-actions">
          <ng-template pTemplate="body">
            <a pButton icon="fa-pencil" pTooltip="Edit" tooltipPosition="top"></a>
            <button pButton icon="fa-trash" pTooltip="Remove" tooltipPosition="bottom"></button>
          </ng-template>
        </p-column>



      </p-dataTable>

    </div>
  </div>

  <div class="ui-g-12">
    <a pButton label="New Activity"></a>
  </div>

</div>
