<app-nav-bar></app-nav-bar>


<!--
<app-app-activities-search></app-app-activities-search>
<app-persons-search></app-persons-search>
<app-app-activity-register></app-app-activity-register>
<app-app-person-register></app-app-person-register>


<app-activities-search></app-activities-search>
<app-person-register></app-person-register>
<app-persons-search></app-persons-search>
<app-activity-register></app-activity-register>
<app-activities-search></app-activities-search>
<app-persons-search></app-persons-search>
-->


<app-activities-search></app-activities-search>

